body {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

textarea:focus,
input:focus {
  outline: none;
}

.flex {
  display: flex;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  vertical-align: middle;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}

input[type="text"],
input[type="password"],
input[type="confirmation"],
input[type="number"],
select {
  border: 0.5px solid lightgrey;
  border-radius: 30px;
  padding: 5px;
  height: 30px;
  display: block;
  width: 100%;
  margin: 10px 10% 10px 0px;
}

input[type="button"],
input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

input:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  color: #202124;
}

input[type="submit"]:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.question{
  text-align: left;
}

.answer{
  text-align: right;
}

.normaltext{
  text-align: left;
  background-color: #f8f9fa;
  padding: 10px;
  margin: 0px;
}

h1{
  font-size: large;
  text-align: left;
  background-color: #f8f9fa;
  padding: 10px;
  margin: 0px;
}