{% extends "layout.html" %}

{% block main %}
    {% if session.user_id %}
        {% if quizitems is defined %}
        <div class="container">
            <h1>Thank you </h1>
            <p class="normaltext">for completing our footprint questionaire! Based on your answers you can see the impact your behaviour has on our world. A little change here and there can make a big difference. Feel free to <a href="/quiz">complete the quiz again</a> to see how your lifestyle changes influence the outcome.</p>
            <p></p>
            <table style="width: 100%;">
                <thead>
                    <th class="question">Impact Factor</th>
                    <th class="answer">Footprint</th>
                </thead>
                <tbody>
                    {% for quizitem in quizitems %}
                    <tr style="border-top:1pt solid black;">
                        <td  class="question">{{quizitem.impact_factor}}</td>
                        <td  class="answer">{{quizitem.footprint}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        
            <p>You need to do the quiz first</p>
        
        {% endif %}
    {% else %}
        <p>You need to log in to see your footprint</p>
    {% endif %}
{% endblock %}