
{% extends "layout.html" %}

{% block main %}
<div class="container">
<form action="/quiz" method="post">
    <table>
        <thead>
            <th class="question">How often do you...</th>
            {% for frequencyitem in frequencyitems %}
                <th>{{frequencyitem.name}}</th>
            {% endfor %}
            
        </thead>
        <tbody>
            {% for quizitem in quizitems %}
            <tr style="border-top:1pt solid black;">
                <td  class="question">{{quizitem.question}}</td>
                {% for frequencyitem in frequencyitems %}
                    <td><input type="radio" name={{quizitem.id}} id = {{frequencyitem.id}} value = {{frequencyitem.id}}> </td>
                    <input type="hidden" name={{quizitem.id}} id = {{frequencyitem.id}} value = 5 checked="checked">
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><button class="btn btn-primary" type="submit">Submit</button></p>
</form>
</div>
{% endblock %}
