
{% extends "layout.html" %}

{% block main %}
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<div class="container">
<form action="/quiz" method="post">
    <table>
        <thead>
            <th class="question">How often do you...</th>
            {% for frequencyitem in frequencyitems %}
                <th>{{frequencyitem.name}}</th>
            {% endfor %}
            
        </thead>
        <tbody>
            {% for quizitem in quizitems %}
            <tr style="border-top:1pt solid black;">
                <td  class="question"><p class="q" data-toggle="tooltip" title = '{{quizitem.description}}'>{{quizitem.question}}</p></td>
                {% for frequencyitem in frequencyitems %}
                    <td><input type="radio" name={{quizitem.id}} id = {{frequencyitem.id}} value = {{frequencyitem.id}}> </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><button class="btn btn-primary" type="submit">Submit</button></p>
</form>
</div>
{% endblock %}
